- provide(:title, '確認メール再送信')
= render "users/shared/error_messages", resource: resource
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    h2 アカウント確認メールの再送信
  .card-body
    em インスタ！アカウント登録しているメールアドレスを入力してください
    = form_with model: resource, as: resource_name, url: user_confirmation_path(resource_name), html: { method: :post }, local: true do |f|
      .field.mt-3
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "user@example.com", class: "form-control"
      .actions
        = f.submit "送信する", class: "btn btn-primary btn-block"
