li id="comment-#{comment.id}"
  .bl_comment_body
    .bl_comment_userInfo
      section.bl_avatar_icon
        = render partial: "shared/avatar_icon", locals: { user: comment.user }
    .bl_comment_box.mb-4
      p= comment.comment
      p.small.text-muted.text-right
        = time_ago_in_words(comment.created_at).upcase
