- provide(:title, 'ログイン')
= render "users/shared/error_messages", resource: resource
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    h2 ログイン
  .card-body
    = form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "user@example.com", class: "form-control"
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password"
      - if devise_mapping.rememberable?
        .field
          => f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "ログイン", class: "btn btn-primary btn-block mt-3 mb-4"
    = render "users/shared/links"
