.filed
  = link_to "パスワードを忘れましたか？", new_user_password_path
.filed
  = link_to "アカウント確認メールが届きませんでしたか？", new_user_confirmation_path
.filed
  = link_to "アカウントの凍結解除方法のメールを受け取っていませんか?", new_user_unlock_path
.filed
  - resource_class.omniauth_providers.each do |provider|
    = link_to "#{OmniAuth::Utils.camelize(provider)} でログイン", omniauth_authorize_path(resource_name, provider)
