- unless current_user?(user)
  #follow_form
    - if current_user.following?(user)
      = form_with(model: current_user.active_relationships.find_by(followed: user.id), method: :delete, remote: true) do |f|
        = f.submit "フォロー中", class: "btn btn-outline-secondary rounded-pill"
    - else
      = form_with(model: current_user.active_relationships.build, remote: true) do |f|
        = hidden_field_tag :followed_id, user.id
        = f.submit "フォローする", class: "btn btn-info rounded-pill"
