- visitor = notification.visitor
- visited = notification.visited
li id="notification-#{notification.id}"
  .form-inline
    / 通知した人(visitor)
    span
      = link_to user_path(visitor) do
        / アバター
        .bl_avatar
          = render partial: "shared/avatar_icon", locals: { user: visitor }
          span さんが

      / 通知内容
      - case notification.action
      / フォロー
      - when "follow" then
        span あなたをフォローしました。
      / お気に入り
      - when "like" then
        = link_to "あなたの投稿", notification.post, style: "font-weight: bold;"
        span をお気に入り登録しました。
      / 投稿
      - when "post" then
        = link_to notification.post.content, notification.post, style: "font-weight: bold;"
        span を投稿しました。
      / コメント
      - when "comment" then
        = link_to "あなたの投稿", notification.post, style: "font-weight: bold;"
        span にコメントしました。
        p.text_muted.md-0
          span= Comment.find_by(id: notification.comment_id)&.comment
      = form_with model: notification, local: true do |f|
        = f.submit "OK", class: "btn btn-primary float-left py-0"
  .small.text-muted.text-right
    = time_ago_in_words(notification.created_at).upcase
