/ 自分の投稿に対するいいね、コメント通知は非表示
- if @notifications.exists?
  .card.col-md-8.mt-5.mx-auto.px-0
    .card-header
      h3 お知らせリスト
    .card-body
      ol.bl_notification
        = render @notifications
      .bl_pagination
        = will_paginate @notifications
- else
  p 通知はありません。
