- unless current_user?(post.user)
  #like_form
    - if current_user.iine?(post)
      = form_with(model: current_user.likes.find_by(post_id: post.id), method: :delete, remote: true) do |f|
        = button_tag class: "btn btn-outline-secondary rounded-pill" do
          i.far.fa-heart
          span=< "登録済み"
    - else
      = form_with(model: current_user.likes.build, remote: true) do |f|
        = hidden_field_tag :post_id, post.id
        = button_tag class: "btn btn-success rounded-pill" do
          i.fas.fa-heart
          span=< "お気に入り"
