- @user ||= curren_user
.stats
  = link_to iines_user_path(@user) do
    strong
      | お気に入り
      span#iines=< @user.likes.count
  = link_to following_user_path(@user) do
    strong
      | フォロー中
      span#following=< @user.following.count
  = link_to followers_user_path(@user) do
    strong
      | フォロワー
      span#followers=< @user.followers.count
