/ ユーザー情報
section.bl_user_info
  / ユーザーサムネ
  figure.bl_user_thum
    = link_to user_path(user) do
      - if user.avatar.attached?
        = image_tag user.display_avatar
      - else
        img src="https://placehold.jp/150x150.png?text=Non-Image"
  / ユーザー名
  .bl_user_name
    = link_to user_path(user), class: "bl_user_link" do
      h2.el_lv2Heading = user.username
      p= "投稿 #{user.posts_count} 件"
    - if current_user?(user)
      = link_to "ユーザー編集", edit_user_registration_path, class: "btn btn-info rounded-pill"
    - else
      / フォロー
      span id="follow-#{user.id}"
        = render "relationships/follow_form", user: user
/ 統計情報
section.bl_user_stats
  = render "stats", user: user

/ 公開情報
section.bl_user_cont
  h3.el_lv3Heading= user.fullname
  - if user.profile.present?
    h4.el_lv4Heading プロフィール
    = auto_link(simple_format(h(user.profile), {}, sanitize: false, wrapper_tag: "div"))
  - if user.url.present?
    h4.el_lv4Heading URL :
    = link_to "#{user.url}", user.url, target: "_blank", rel: "noopener"
