- provide :title, @title
.bl_user
  = render partial: "users/user_info", locals: { user: @user }

/ リレーションリスト
- if @users.present?
  .card.col-md-8.mt-5.mx-auto.px-0
    .card-header
      h3= "#{@title}リスト #{@users.count} 件"
    .card-body
      ol.bl_follow
        = render @users
      .bl_pagination
        = will_paginate @users
- else
  p= "#{@title}はありません。"
