- provide :title, @title
.bl_user
  = render partial: "users/user_info", locals: { user: @user }

/ 投稿画像 or お気に入り画像
- if @posts.present?
  h2.mb-4= @list_name
  ol.posts.bl_user_grid
    = render partial: "posts/post", collection: @posts, as: :post
  .bl_pagination
    = will_paginate @posts
- else
  - if current_user?(@user)
    h1 画像を投稿してみよう！
    = link_to "画像を投稿する", new_post_path, class: "btn btn-primary rounded-pill"
  - else
    p= "#{@user.username} さんの投稿はありません."
