.bl_avatar_icon
  - if user.avatar.attached?
    = image_tag user.display_avatar, class: "icon_mini"
  - else
    img src="https://placehold.jp/30x30.png?text=Non-Image"
  = link_to  user_path(user), class: "bl_avatar_name" do
    span.el_lv4Heading= user.username
