= form_with model: [post, comment], html: { method: :post }, remote: true do |f|
  .field
    = f.text_area :comment, size: "5x5", placeholder: "コメントする..."
  .actions
    = f.submit "投稿する", class: "btn btn-info btn-block"
