.card-header
  .bl_post_header
    / アバター
    .bl_avatar
      = render partial: "shared/avatar_icon", locals: { user: user }
    - if current_user?(user)
      = button_to "投稿を削除する", post_path(post), data: { confirm: "投稿を削除をしてよろしいですか?" }, method: :delete, class: "btn btn-danger rounded-pill"
    - else
      / フォロー
      span id="follow-#{user.id}"
        = render partial: "relationships/follow_form", locals: { user: user }
.card-body
  / 投稿画像
  section.bl_post_image
    = image_tag post.display_image
  / 投稿内容
  section.bl_post_content.
    .bl_post_user
      .bl_post_userFlex
        / アバター
        .bl_avatar
          = render partial: "shared/avatar_icon", locals: { user: user }
        / お気に入り
        span id="post-#{post.id}"
          = render "likes/like_form", post: post
      = auto_link(simple_format(h(post.content), {}, sanitize: false, wrapper_tag: "p"))
      p.small.float-right.text-muted.mb-0
        = post.created_at.to_s(:datetime_jp)
    / コメント一覧
    = render partial: 'comments/comment_area', locals: { comments: comments }
  / コメントフォーム
  - if current_page?(root_path)
    = link_to "コメントする", post_path(post), class: "btn btn-info btn-block mt-2"
  - else
    section#bl_comment_form
      = render partial: "shared/comment_form", locals: { post: post, comment: comment }
    = link_to "キャンセルして戻る", user_path(user), class: "btn btn-secondary btn-block mt-2"
