.swiper-slide.mt-3
  .bl_recommend.card
    .card_body.mx-auto
      = link_to  user_path(user) do
        .bl_recommend_avatar.mx-auto
          - if user.avatar.attached?
            = image_tag user.display_avatar, class: "icon_mini"
          - else
            img src="https://placehold.jp/120x120.png?text=Non-Image"
          .bl_recommend_name
            = user.username
      / フォロー
      span id="follow-#{user.id}"
        = render "relationships/follow_form", user: user
