.row.ly_content.hp_height_center
  aside.col-lg-5.offset-lg-1.bl_box.bl_box_min
    .bl_box_body
      h2.el_lv1Heading.hp_smSpace
        | インスタ！
      = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary bl_box_btnFb"
      = link_to "ログイン", user_session_path, class: "btn btn-lg btn-info mr-3"
      = link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-info"
  .col-lg-5.offset-lg-1.d-none.d-lg-block
    = image_tag("/images/zgundam.jpeg", alt: "zガンダム")
