.row
  / フォロー or お気に入りあり
  - unless @follow_post.nil? && @iine_post.nil?
    / おすすめ
    - if @recommends.any?
      .col-4.d-none.d-lg-block
        aside.card
          section.card-header.bl_recommended
            | おすすめリスト
          .card-body
            ul.bl_recommend_userList
              = render partial: "shared/recommend_list", collection: @recommends, as: :recommend
    .col-md-8.mx-auto.mb-5
      / フォローユーザーの最新投稿
      -unless @follow_post.nil?
        main.card.mb-5
          = render partial: "shared/post_unit",
            locals: { user: @follow_user, post: @follow_post, comments: @follow_comments, comment: @follow_comment }

      / お気に入り最新
      -unless @iine_post.nil?
        main.card
          = render partial: "shared/post_unit",
            locals: { user: @iine_user, post: @iine_post, comments: @iine_comments, comment: @iine_comment }
    / おすすめスライダー
    - if @recommends.any?
      .col-md-8.mx-auto.mb-5
        .bl_slider.card.mx-auto
          .swiper-container.col-10.col-lg-12
            span.mb-0 おすすめリスト
            .swiper-wrapper
              = render partial: "shared/recommend_slide", collection: @recommends, as: :user
            .swiper-button-prev
            .swiper-button-next
            .swiper-pagination
  / フォロー & お気に入りなし
  - else
    .col-8.offset-2
      aside.card
        section.card-header.bl_recommended
          | おすすめリスト
        .card-body
          ul.bl_recommend_userList
            = render partial: "shared/recommend_list", collection: @recommends, as: :recommend

javascript:
  var mySwiper = new Swiper('.swiper-container', {
    spaceBetween: 10,
    slidesPerGroup: 2,
    slidesPerView: 2,
    autoHeight: true,
    keyboard: true,
    speed: 800,
    mousewheel: {
      forceToAxis: 	true,
      invert: false
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    breakpoints: {
      990: {
        slidesPerView: 3,
        slidesPerGroup: 3,
      },
    },
  });
