// @import "reset";
@import "pages";
@import "users";
@import "posts";
@import "~bootstrap/scss/bootstrap";

// ベース
// -----------------------------------------------------

html {
  font-size: 100%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #222;
  padding-top: 120px;
  padding-bottom: 130px;
  background-image: url("/images/3364816_m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
label {
  margin-bottom: 0 !important;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
header > nav {
  border-bottom: 1px solid #ddd;
}
footer {
  margin-top: 100px;
  > nav {
    border-top: 1px solid #fff;
    .container {
      display: flex;
      height: 80px;
      justify-content: space-between;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}
.field {
  margin-bottom: 15px;
}
.card {
  max-width: 620px !important;
}

// レイアウト
// -----------------------------------------------------
.ly_content {
  padding: 0 70px;
  margin: 0 auto;
}

// ブロック
// -----------------------------------------------------
.bl_box {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.bl_box.bl_box_min {
  height: 300px;
  > .bl_box_body {
    margin-top: 20px;
    .bl_box_btnFb {
      display: block;
      margin-bottom: 20px;
    }
  }
}
.bl_avatar_icon {
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .bl_avatar_name {
    text-decoration: none;
    span {
      color: #212529;
      margin-left: 10px;
    }
  }
}

// エレメント
// -----------------------------------------------------
.el_lv1Heading {
  font-size: 3rem;
  letter-spacing: -5px;
  text-align: center;
  font-weight: 900;
  font-family: Impact;
}
.el_lv1Heading.logo {
  font-size: 2rem;
}
.el_lv2Heading {
  font-size: 1.5rem;
  font-weight: 900;
}
.el_lv3Heading {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 0;
}
.el_lv4Heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

// ヘルパーメソッド
// -----------------------------------------------------
// マージン大
.hp_lgSpace {
  margin-bottom: 80px !important;
}
// マージン中
.hp_mdSpace {
  margin-bottom: 60px !important;
}
// マージン小
.hp_smSpace {
  margin-bottom: 30px !important;
}
// マージンカット
.hp_margin_cut {
  margin-bottom: 0 !important;
}
// 天地中央揃え
.hp_height_center {
  display: flex !important;
  align-items: center !important;
}
// awesomeアイコン
.hp_aweIcon {
  font-size: 1.8rem;
}
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
  font-size: 1.4rem;
}
.hp_input_none {
  display: none;
}

// その他
// -----------------------------------------------------
// エラーメッセージ
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
// ハンバーガー アイコン枠の削除
.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}
// ページネーション
.bl_pagination {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  nav {
    display: inline-block;
  }
}
// お知らせ
ol.bl_notification {
  > *last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    figure.el_icon {
      margin-right: 15px;
      display: inline-block;
    }
  }
}
// ボタン
.btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
.bl_comment_body {
  clear: both;
}

// 検索フォーム
.bl_search {
  width: 240px;
  position: relative;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 17px;
  .bl_search_field {
    padding: 3px 60px 3px 10px;
    input {
      width: 100%;
      height: 29px;
      line-height: 30px;
      background: none;
      border: none;
      outline: none;
    }
  }
  .bl_search_btn {
    position: absolute;
    top: 1.4%;
    right: -0.5%;
    width: 25%;
    input {
      display: block;
      background: #5fad35;
      width: 100%;
      height: 35px;
      line-height: 35px;
      border: none;
      border-radius: 17px;
      color: #fff;
      outline: none;
      &:hover {
        background: #228b22;
        opacity: 0.5;
      }
    }
  }
}
