// おすすめリスト
.bl_recommend_userList {
  padding-left: 0;
  .bl_avatar a {
    font-size: 0.8rem;
  }
}
// おすすめスライダー
.bl_slider {
  height: 330px;
  text-align: center;
  color: #8e8e8e;
}
.bl_recommend {
  height: 230px;
  .card_body {
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
      .bl_recommend_avatar {
        margin-top: 10px;
        img {
          height: 120px;
          width: 120px;
        }
      }
      text-align: center;
      .bl_recommend_name {
        margin: 5px 0 10px 0;
        color: #212529;
      }
    }
  }
}
