.bl_post_header {
  display: flex;
  justify-content: space-between;
}
.bl_post_user {
  // width: auto;
  overflow: auto;
  height: 100px;
  margin-top: 15px;
  border-bottom: 1px solid #aaa;
  .bl_post_userFlex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
#bl_comments_area {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: auto;
  width: auto;
  height: 300px;
}
#bl_comment_form {
  .field {
    > textarea {
      resize: vertical;
      width: 100%;
    }
  }
}
