// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// users/show
.bl_user {
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
  margin-bottom: 30px;
  .bl_user_info {
    display: flex;
    margin-bottom: 10px;
    .bl_user_thum {
      margin-right: 20px;
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }
    .bl_user_name {
      margin-bottom: 10px;
      display: block;
      .bl_user_link {
        color: #212529;
        &:focus,
        &:hover {
          text-decoration: none;
        }
        h2 {
          display: inline-block;
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
  }
  .bl_user_stats .stats {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    > a {
      color: #777;
      display: inline-block;
      &:hover {
        text-decoration: none;
        opacity: 0.3;
      }
    }
  }

  .bl_user_cont {
    line-height: 1.2;
    > *last-child {
      margin-bottom: 0;
    }
    > .el_lv3Heading {
      margin-bottom: 10px;
    }
    div {
      margin-bottom: 10px;
    }
    .el_lv4Heading {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
ol.bl_user_grid {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  padding-left: 0;
}
.bl_modal_trigger {
  transition: 0.5s;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
.modal-content {
  border-radius: 0 !important;
}
.bl_modal_userBody {
  padding: 0 !important;
  a {
    color: #212529;
    &:hover,
    &:focus {
      color: #212529;
      text-decoration: none;
      opacity: 0.3;
    }
  }
  .bl_modal_image {
    width: 60%;
  }
  .bl_modal_info {
    width: 40%;
    .bl_modal_header {
      height: 90px;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
    p {
      margin-bottom: 0;
    }
    .bl_modal_comment {
      height: 65%;
      padding-right: 0;
      > ol {
        padding-left: 5px;
        overflow: auto;
        width: auto;
        height: 280px;
      }
    }
    .bl_modal_frend {
      text-align: center;
      width: 100%;
      justify-content: space-around;
    }
  }
}

.modal-content {
  height: 100%;
}
// users/show_follow
ol.bl_follow {
  > *last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    figure.el_icon {
      margin-right: 15px;
      display: inline-block;
    }
    a {
      color: #212529;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// users/registrations/edit
.image_label {
  align-items: center;
  .photo-icon {
    border-radius: 50%;
  }
  .prev-image {
    border-radius: 50%;
  }
  .hidden_file {
    margin-top: 10px;
    margin-left: 10px;
    width: 280px;
  }
}
