- provide(:title, 'パスワード再設定')
= render "users/shared/error_messages", resource: resource
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    h2 パスワード再設定
  .card-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      .field
        = f.label :password, "変更後のパスワード"
        em=< "（#{@minimum_password_length}文字以上の英数字）"
        = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"
      .field
        = f.label :password_confirmation, "変更後のパスワード（確認）"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .actions
        = f.submit "変更する", class: "btn btn-primary btn-block"
