- if current_page?(posts_path)
  - post = search_post
- user = post.user
li id="post-#{post.id}"
  / モーダルトリガー
  span.bl_modal_trigger type="button" data-toggle="modal" data-target="#post-modal#{post.id}"
    = image_tag post.display_image

  / モーダルターゲット
  .modal.fade id="post-modal#{post.id}" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true"
    / 実際に表示されるモーダル
    .modal-dialog.modal-dialog-centered.modal-lg role="document"
      .modal-content
        .modal-body.d-flex.bl_modal_userBody
          / 投稿画像
          .bl_modal_image
            = link_to post_path(post) do
              = image_tag post.display_image
          / 投稿情報
          .bl_modal_info
            .modal-header.bl_modal_header
              .bl_modal_userInfo
                / アバター
                .bl_avatar
                  = render partial: "shared/avatar_icon", locals: { user: user }
                  p.small
                    = post.created_at.to_s(:datetime_jp)
              .bl_modal_postCont
                p= post.content
            / コメント一覧
            .modal-body.bl_modal_comment.d-none.d-lg-block
              - if post.comments.any?
                ol
                  = render partial: "comments/comment", collection: post.comments, as: :comment
              - else
                p コメントはありません。
            / 個別ページへリンク
            .modal-footer.bl_modal_footer
              .bl_modal_frend.d-lg-flex.pt-5.pt-lg-0
                - unless current_user?(user)
                  = render "likes/like_form", post: post
                = link_to post_path(post) do
                  button.btn.btn-info.rounded-pill.mt-2.mt-lg-0
                    | コメントする
                - if current_user?(user)
                  = button_to "投稿を削除する", post_path(post), data: { confirm: "投稿を削除をしてよろしいですか?" }, method: :delete, class: "btn btn-danger rounded-pill"
