- provide(:title, '検索結果')
/ 空欄検索の判定
- if params[:q] &.reject { |key, value| value.blank? }.present?
  / 検索ワード該当なし
  - if @search_posts.count == 0
    p= "検索結果 #{@search_posts.count} 件"
    strong= "『#{params[:q][:content_cont]}』"
    span に一致する投稿はありませんでした。
  / 検索ワード該当あり
  - else
    h3= "『#{params[:q][:content_cont]}』"
    p= "検索結果 #{@search_posts.count} 件"
  ol.posts.bl_user_grid
    = render partial: "posts/post", collection: @search_posts, as: :search_post
  .bl_pagination
    = will_paginate @search_posts
- else
  p キーワードを入力してください。
