- provide(:title, '新規投稿')
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    h2 新規投稿
  = form_with model: @post, local: true do |f|
    = render "shared/error_messages", object: f.object
    .field
      label
        img#img_prev.card-img-top src="https://placehold.jp/618x618.png?text=画像を選択" height=618
        = f.file_field :image, accept: "image/jpeg,image/png", id: "post_img", class: 'hidden_file hp_input_none'
    .card-body
      .field
        = f.text_area :content, autocomplete: "content", class: "form-control", size: "5x5", placeholder: "コメントを入力..."
      .actions
        = f.submit "投稿する", class: "btn btn-primary btn-block mt-4"
      = link_to "キャンセルして戻る", user_path(current_user), class: "btn btn-secondary btn-block mt-2"
