header.ly_header
  nav.navbar.fixed-top.navbar-expand-lg.bg-white.navbar-light
    .container
      / ロゴ
      h1= link_to "インスタ！", root_path, class: "navbar-brand el_lv1Heading logo"
      - if user_signed_in?
        / ハンバーガートリガー
        button.navbar-toggler type="button" data-toggle="collapse" data-target="#change-nav" aria-controls="change-nav" aria-expanded="false" aria-label="Toggle navigation"
          span.navbar-toggler-icon

        / ハンバーガー 対象
        .collapse.navbar-collapse#change-nav
          .m-auto
            / 検索
            dl.bl_search.mt-2
              / 何故か空フォームを二重に置かなければ動かない
              = search_form_for @search, url: posts_path do |f|
              = search_form_for @search, url: posts_path do |f|
                dt.bl_search_field
                  = f.text_field :content_cont, placeholder: "キーワード検索"
                dd.bl_search_btn
                  = f.submit "検索"
          / ナビアイコン
          ul.navbar-nav
            li.nav-item.mr-4
              = link_to notifications_path, class: "nav-link" do
                - if unchecked_notifications.any?
                  span.fa-stack
                    i.far.fa-bell.d-none.d-lg-block.fa-stack-2x
                    i.fas.fa-circle.n-circle.fa-stack-1x.d-none.d-lg-block
                  span.d-lg-none.d-block お知らせ
                - else
                  i.far.fa-bell.hp_aweIcon.d-none.d-lg-block
                  i.d-lg-none.d-block お知らせ
            li.nav-item.mr-4
              = link_to new_post_path, class: "nav-link"
                span.far.fa-images.hp_aweIcon.d-none.d-lg-block
                span.d-lg-none.d-block 投稿する
            li.nav-item.mr-4
              = link_to current_user, class: "nav-link"
                span.far.fa-user.hp_aweIcon.d-none.d-lg-block
                span.d-lg-none.d-block マイページ
            li.nav-item
              = link_to destroy_user_session_path, method: :delete, class: "nav-link"
                span.fas.fa-sign-out-alt.hp_aweIcon.d-none.d-lg-block
                span.d-lg-none.d-block ログアウト
