= csrf_meta_tags
= csp_meta_tag
= favicon_link_tag('favicon.ico')
meta name="description" content="画像投稿サイト「Insta!」は、投稿した画像を通してユーザーとの共有を楽しむサイトです。"
= analytics_init if Rails.env.production?
= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.css"
= javascript_include_tag "https://unpkg.com/swiper/swiper-bundle.js"
= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
