doctype html
html
  head
    title= full_title(yield(:title))
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  body
    = render 'layouts/header'
    .container
      - flash.each do |flash_key, flash_message|
        - next if flash_key == 'timedout'
        = content_tag(:div, flash_message, class: "alert alert-#{ flash_key == "notice" ? "success" : "danger"}")
      = yield
    = render 'layouts/footer'
