p
  | こんにちは、
  => @resource.fullname
  | さん!
p
  | 誰かがパスワードの再設定を希望しました。次のリンクでパスワードの再設定が出来ます。
p
  = link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token)
p
  | あなたが希望したのではないのなら、このメールは無視してください。
p
  | 上のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。
