- provide(:title, '確認画面')
= render "users/shared/error_messages", resource: @user
.card.col-sm-8.mt-5.mx-auto.px-0
  .card-body
    h2.mb-3 確認画面
    = form_with model: resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :post }, local: true do |f|
      table.table.table-hover
        tbody
          tr
            th= User.human_attribute_name(:fullname)
            td= @user.fullname
            = f.hidden_field :fullname
          tr
            th= User.human_attribute_name(:username)
            td= @user.username
            = f.hidden_field :username
          tr
            th= User.human_attribute_name(:email)
            td= @user.email
            = f.hidden_field :email
          tr
            th= User.human_attribute_name(:password)
            td= @user.password
            = f.hidden_field :password
            = f.hidden_field :password_confirmation
      = f.submit "確定する", class: "btn btn-primary mr-3 col-3 confirm"
      = f.submit "戻る", name: "back", class: "btn btn-secondary col-3 confirm"
