- provide(:title, 'パスワード変更')
= render "users/shared/error_messages", resource: resource
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    h2 パスワードを変更する
  .card-body
    = form_with(model: resource, as: resource_name, url: users_update_password_path, method: :patch, local: true) do |f|
      .field
        = f.label :password, "変更後のパスワード"
        em=< "（#{@minimum_password_length}文字以上の英数字）"
        = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"
      .field
        = f.label :password_confirmation, "変更後のパスワード（確認）"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .field
        = f.label :current_password, "現在のパスワード"
        = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
        .small.form-text 変更のために現在のパスワードを入力してください。
      .actions
        = f.submit "更新する", class: "btn btn-primary btn-block mt-4 mb-3"
        = link_to "キャンセルして戻る", edit_user_registration_path, class: "btn btn-secondary btn-block"
