- provide(:title, 'アカウント情報編集')
= render "users/shared/error_messages", resource: resource
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    = link_to "パスワード変更", users_edit_password_path, class: "btn btn-success float-right"
    h2 ユーザー情報編集
  .card-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .field
        = f.label :fullname
        = f.text_field :fullname, autofocus: true, autocomplete: "name", class: "form-control"
      .field
        = f.label :username
        = f.text_field :username, autocomplete: "name", class: "form-control"
      .field
        = f.radio_button :gender, :male
        = f.label :gender_male, "男性", class: "mr-2"
        = f.radio_button :gender, :female
        = f.label :gender_female, "女性"
      .field
        = f.label :email
        = f.email_field :email, autocomplete: "email", class: "form-control"
      .field
        = f.label :phone
        = f.phone_field :phone, autocomplete: "tel", placeholder: "090-1234-5678", class: "form-control"
      .field
        = f.label :profile
        = f.text_area :profile, size: "10x5", class: "form-control"
      .field
        = f.label :url
        = f.text_field :url, autocomplete: "url", class: "form-control"
      .field
        = f.label :avatar, class: 'image_label d-lg-flex' do
          .prev-contents
            - if current_user.avatar.present?
              .prev-content
                = image_tag current_user.avatar, alt: "preview", class: "prev-image", size: "150x150"
            - else
              img.photo-icon src="https://placehold.jp/150x150.png?text=Non-Image" width=150 height=150
          = f.file_field :avatar, accept: "image/jpeg,image/png", class: 'hidden_file'
      .actions
        = f.submit "更新する", class: "btn btn-primary btn-block mt-4 mb-3"
        = link_to "キャンセルして戻る", current_user, class: "btn btn-secondary btn-block mb-5"
    = button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除をしてよろしいですか?" }, method: :delete, class: "btn btn-danger"
