- provide(:title, '新規登録')
= render "users/shared/error_messages", resource: resource
.card.col-md-8.mt-5.mx-auto.px-0
  .card-header
    h2 新規登録
  .card-body
    = form_with model: resource, as: resource_name, url: users_sign_up_confirm_path(resource_name), local: true do |f|
      .field
        = f.label :fullname
        = f.text_field :fullname, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "山田 太郎"
      .field
        = f.label :username
        = f.text_field :username, autocomplete: "name", class: "form-control", placeholder: "タロウ"
      .field
        = f.label :email
        = f.email_field :email, autocomplete: "email", placeholder: "user@example.com", class: "form-control"
      .field
        = f.label :password
        - if @minimum_password_length
          em
            =< @minimum_password_length
            | 文字以上の英数字
        = f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "password"
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "password"
      .actions
        = f.submit "アカウントを作成する", class: "btn btn-primary btn-block mt-4 mb-2"
        = link_to "利用規約", term_path
